body {
    background-color: rgb(5, 41, 41);
    font-family: 'Architects Daughter', cursive;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: solid 2px black;
    background-image: radial-gradient( yellow 15%, orange 60%);
}

.city-col {
    padding: 20px;
    margin: auto;
    border: solid 2px black;
    background-image: radial-gradient(gray 15%, slategray 60%);
}

.search-head {
    font-weight: bold;
}

button {
    background-image: radial-gradient( yellow 15%, orange 60%);
    float: right;
}